.App {
  text-align: center;
}

.App-header {
  /* background-color: #a4508b;
  background-image: radial-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
  /* Created with https://www.css-gradient.com */
  background: rgba(102, 7, 226, 1.0);
  background: -webkit-linear-gradient(top left, rgba(102, 7, 226, 1.0), rgba(136, 74, 202, 1.0));
  background: -moz-linear-gradient(top left, rgba(102, 7, 226, 1.0), rgba(136, 74, 202, 1.0));
  background: linear-gradient(to bottom right, rgba(102, 7, 226, 1.0), rgba(136, 74, 202, 1.0));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
